<mat-toolbar id="header-toolbar">
    <svg id="header-bp-distribution-logo" [innerHTML]="svgBPDistributionLogo"></svg>
    <ul id="header-list-anchors">
        <li>
            <a id="header-a-home" href="https://www.bp-distribution.com/">HOME</a>
        </li>
        <li>
            <a id="header-a-about" href="https://www.bp-distribution.com/about/">ABOUT</a>
        </li>
        <li>
            <a id="header-a-services" href="https://www.bp-distribution.com/services/">SERVICES</a>
        </li>
        <li>
            <a id="header-a-products" href="https://www.bp-distribution.com/products/">PRODUCTS</a>
        </li>
    </ul>
</mat-toolbar>