<mat-toolbar id="header-toolbar">
    <svg id="header-bp-distribution-logo" [innerHTML]="svgBPDistributionLogo"></svg>
    <nav id="header-nav">
        <a id="header-a-home"
           routerLink="/"
           routerLinkActive="active-route"
           [routerLinkActiveOptions]="{ exact: true }"
           ariaCurrentWhenActive="page"
           aria-hidden="false"
           aria-label="Home page navigation">HOME</a>
        <a id="header-a-about"
           routerLink="/about"
           routerLinkActive="active-route"
           ariaCurrentWhenActive="page"
           aria-hidden="false"
           aria-label="About page navigation">ABOUT</a>
        <a id="header-a-services"
           routerLink="/services"
           routerLinkActive="active-route"
           ariaCurrentWhenActive="page"
           aria-hidden="false"
           aria-label="Service page navigation">SERVICES</a>
        <a id="header-a-products"
           routerLink="/products"
           routerLinkActive="active-route"
           ariaCurrentWhenActive="page"
           aria-hidden="false"
           aria-label="Products page navigation">PRODUCTS</a>
    </nav>
</mat-toolbar>